<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.cloudDisk.mapper.CoursePackageTreeRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.edu.cloudDisk.entity.CoursePackageTreeRelation">
        <id column="id" property="id" />
        <result column="package_id" property="packageId" />
        <result column="package_tree_id" property="packageTreeId" />
        <result column="course_root_id" property="courseRootId" />
        <result column="duration" property="duration" />
        <result column="lesson_num" property="lessonNum" />
        <result column="status" property="status" />
        <result column="creator_id" property="creatorId" />
        <result column="creator_name" property="creatorName" />
        <result column="create_time" property="createTime" />
        <result column="updater_id" property="updaterId" />
        <result column="updater_name" property="updaterName" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
